[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-oldiesradio
Exec=harbour-oldiesradio
Name=Czech radio
# translation:
Name[ru]=Радио Чехии
X-Desktop-File-Install-Version=0.26
